# Python Pandas Time Series Data
[Documentation](https://pandas.pydata.org/docs/user_guide/timeseries.html)

In [1]:
import numpy as np
import pandas as pd
import datetime
import random

### Data Formats Supported
Pandas datetime64 can interpret strings, Python datetime, and Numpy datetime64 objects.  
Also note, a list of pd.datetime64 objects are automatically converted to a DatetimeIndex.

In [2]:
a1 = pd.to_datetime([
    '6/1/2020', 
    '6-2-2020',
    datetime.datetime(2020, 6, 3),
    np.datetime64('2020-06-04'),
    np.datetime64('2020-06-05')])
a1

DatetimeIndex(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
               '2020-06-05'],
              dtype='datetime64[ns]', freq=None)

Pass in a format argument for custom formatted dates (case matters).

In [3]:
a2 = pd.to_datetime(['2020/14/06', '2020/15/06'], format='%Y/%d/%m')
a2

DatetimeIndex(['2020-06-14', '2020-06-15'], dtype='datetime64[ns]', freq=None)

Hours and Minutes too? No problem.

In [4]:
a3 = pd.to_datetime(
    ['2020/6/8 14.05', '2020/6/9 06.45'], format='%Y/%d/%m %H.%M')
a3

DatetimeIndex(['2020-08-06 14:05:00', '2020-09-06 06:45:00'], dtype='datetime64[ns]', freq=None)

### Creating a datetime sequence with fixed intervals
freq parameters:  
  D=days, W=weeks, M=months, B=business days, BW=bus weeks, BM=bus months

In [5]:
b1 = [random.random() for i in range(30)]
b2 = pd.date_range('2020-06-01', periods=30, freq='1d')
print(b2)
df = pd.DataFrame({'M':b1}, index=b2)
#df.loc['2020-06-18':]
df[df['M'] > 0.8]

DatetimeIndex(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
               '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08',
               '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
               '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16',
               '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-20',
               '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24',
               '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='D')

                   M
2020-06-07  0.970080
2020-06-14  0.809867
2020-06-18  0.917428
2020-06-20  0.945739
2020-06-26  0.815245

In [6]:
b3 = np.random.rand(52)
b4 = pd.date_range('2020-06-01', periods=52, freq='W')
df = pd.DataFrame(b3, index=b4)
df

                   0
2020-06-07  0.816153
2020-06-14  0.142715
2020-06-21  0.883367
2020-06-28  0.042243
2020-07-05  0.902994
2020-07-12  0.122903
2020-07-19  0.883686
2020-07-26  0.599879
2020-08-02  0.585071
2020-08-09  0.487260
2020-08-16  0.577816
2020-08-23  0.217873
2020-08-30  0.642893
2020-09-06  0.269524
2020-09-13  0.681086
2020-09-20  0.066728
2020-09-27  0.192068
2020-10-04  0.430084
2020-10-11  0.673437
2020-10-18  0.216691
2020-10-25  0.172302
2020-11-01  0.034461
2020-11-08  0.764077
2020-11-15  0.166790
2020-11-22  0.379369
2020-11-29  0.026259
2020-12-06  0.215560
2020-12-13  0.912649
2020-12-20  0.752434
2020-12-27  0.129831
2021-01-03  0.307117
2021-01-10  0.119653
2021-01-17  0.385201
2021-01-24  0.219277
2021-01-31  0.962418
2021-02-07  0.265013
2021-02-14  0.178213
2021-02-21  0.833785
2021-02-28  0.668348
2021-03-07  0.826616
2021-03-14  0.345981
2021-03-21  0.619586
2021-03-28  0.362562
2021-04-04  0.765329
2021-04-11  0.800720
2021-04-18  0.156365
2021-04-25  0.988019
2021-05-02  0.587013
2021-05-09  0.709290
2021-05-16  0.862771
2021-05-23  0.475769
2021-05-30  0.860615

Alternative to periods, you can give start and stop dates.

In [7]:
b3 = pd.date_range('2020-06-30', '2020-12-31', freq='M')
b3

DatetimeIndex(['2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30',
               '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

### Dates Index to/from CSV file
Create DataFrame with Dates as Index, Write it to a CSV file, then Read in the CSV data and put the dates as Index

In [8]:
d1 = np.round(6 + 4 * np.random.randn(7), decimals=2)
d2 = np.random.randint(12, 30, size=7)
d3 = pd.Series(pd.date_range('2020-05-29', periods=7, freq='1d'))
df = pd.DataFrame({'alpha':d1, 'beta':d2}, index=d3)

df.to_csv('file01.csv')
df

            alpha  beta
2020-05-29  10.40    26
2020-05-30   8.92    26
2020-05-31   5.09    12
2020-06-01   3.87    27
2020-06-02   3.93    24
2020-06-03   4.79    16
2020-06-04   9.12    16

In [9]:
df = pd.read_csv('file01.csv', index_col=0)
print(type(df.index[2]))
df.index = pd.to_datetime(df.index, format='%Y/%m/%d')
print(type(df.index[2]))
df.loc[:'2020/05/31']

<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

            alpha  beta
2020-05-29  10.40    26
2020-05-30   8.92    26
2020-05-31   5.09    12

### Constructing Dates from Multiple Columns
You have Month, Day and Year in separate fields, and need to combine them into a single Datetime field.

In [10]:
yyyy = [random.randint(1995,2020) for i in range(100)]
mm = [random.randint(1,12) for i in range(100)]
dd = [random.randint(1,28) for i in range(100)]
data = [random.random() for i in range(100)]
print(yyyy[5], mm[5], dd[5], data[5])

1998 10 10 0.4173998814595933

In [11]:
df1 = pd.DataFrame({'year': yyyy,'month': mm, 'day': dd})
df1 = pd.to_datetime(df1) 
df2 = pd.Series(data)
df = pd.concat([df1, df2], axis=1)
df.loc[5]

0    1998-10-10 00:00:00
1                 0.4174
Name: 5, dtype: object

### Date Arithmetic

In [12]:
appointment = pd.Timestamp('2020-06-04')
appointment.day_name()

'Thursday'

Uh oh! my appointment is delayed 2 days.  
Here are 3 different ways to add 2 days to the date.

In [13]:
appointment = pd.Timestamp('2020-06-04')
appointment += pd.Timedelta('2 days')
appointment.day_name()

'Saturday'

In [14]:
appointment = pd.Timestamp('2020-06-04')
appointment += pd.Timedelta(days=2)
appointment.day_name()

'Saturday'

Date offsets: Day, Hour, Minute, Second, Milli, Micro, Nano

In [15]:
appointment = pd.Timestamp('2020-06-04')
appointment += pd.offsets.Day(2)
appointment.day_name()

'Saturday'

NO, it's delayed 2 business days.

In [16]:
appointment = pd.Timestamp('2020-06-04')
appointment += pd.offsets.BDay(2)
appointment.day_name()

'Monday'